{#
/**
 * @file
 * Theme override of a container used to wrap child elements.
 *
 * @see template_preprocess_container()
 */
#}
{%
  set classes = [
    has_parent ? 'js-form-wrapper',
    has_parent ? 'form-wrapper',
  ]
%}
{%
  set showWrapper = attributes.toArray|length
%}
{% if showWrapper %}
  <div{{ attributes.addClass(classes) }}>
{% endif %}

  {{ children }}

{% if showWrapper %}
  </div>
{% endif %}
