////////////////////////////////////////////////////////////////////////////////
// PLACEHOLDERS
// -----------------------------------------------------------------------------

/////////////////////
// Base styles for any button type. @See component-button-{$option} mixins for further styles.
// ---------
%button {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  font-family: $body-font-family;
  font-weight: 800;
  // white-space: nowrap;
  white-space: normal;
  text-transform: capitalize;
  text-shadow: none;
  padding: ($global-padding * 0.75) ($global-padding * 1.5);
  // -webkit-appearance: button; // sass-lint:disable-line no-vendor-prefixes
  background: color(theme-primary);
  background-size: 100% 200%;
  // border: 4px solid color(theme-primary);
  border-radius: $global-radius;
  font-size: rem-calc(14);
  line-height: 1;
  text-align: center;
  color: color(theme-white);
  cursor: pointer;
  transition: background $global-speed ease, color $global-speed ease, border $global-speed ease, box-shadow $global-speed ease, background-position $global-speed;

  &:visited,
  &:active,
  &:focus {
    color: color(theme-white);
  }

  &:hover {
    background: color(theme-secondary);
  }
}
