////////////////////////////////////////////////////////////////////////////////
// VARIABLES
// -----------------------------------------------------------------------------

$global-width: rem-calc(1200);
$grid-row-width: $global-width;

$foundation-palette: (
  primary: #2199e8,
  secondary: #777,
  success: #86c13d,
  warning: #f1ba2e,
  alert: #e54040,
);
@include add-foundation-colors;

// Base
// ----------
$body-font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$header-font-family: $body-font-family;
$body-background: $white;
$body-font-color: $black;
$anchor-color: $primary-color;
$anchor-color-hover: scale-color($anchor-color, $lightness: -14%);

// Button
// ----------
$button-background: $primary-color;
$button-background-hover: scale-color($button-background, $lightness: -15%);

// Menu
// ----------
$menu-item-background-active: map-get($foundation-palette, primary);

// Breadcrumb
// ----------
$breadcrumbs-item-color: $primary-color;
