/**
 * Hide elements visually, but keep them available for screen readers.
 *
 * Used for information required for screen reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user.
 * "!important" is used to prevent unintentional overrides.
 */
body.maintenance-page {
  margin: 1rem;
  overflow: hidden; }
  @media screen and (min-width: 64em) {
    body.maintenance-page {
      margin: 3rem; } }
  body.maintenance-page,
  body.maintenance-page .exo-content {
    background: #333; }
  body.maintenance-page .page.section > .inner {
    max-width: 34.375rem;
    margin: 0 auto;
    background: #fff;
    padding: 1rem;
    border-radius: 3px; }
    @media screen and (min-width: 64em) {
      body.maintenance-page .page.section > .inner {
        padding: 2rem; } }
    body.maintenance-page .page.section > .inner .name-and-slogan {
      text-align: center; }
    body.maintenance-page .page.section > .inner .site-logo {
      display: block;
      margin: 0 auto 2rem; }

a {
  text-decoration: none;
  transform: color 350ms; }

/* stylelint-disable color-no-hex */
body,
.exo-content {
  background: #fff;
  margin: 0;
  padding: 0; }

.is-admin .section.main {
  padding-bottom: 2rem;
  background: #fff;
  display: block; }
  .is-admin .section.main::before, .is-admin .section.main::after {
    display: table;
    content: ' '; }
  .is-admin .section.main::after {
    clear: both; }
  @media screen and (min-width: 40em) {
    .is-admin .section.main {
      padding-bottom: 3rem; } }
  @media screen and (min-width: 64em) {
    .is-admin .section.main {
      padding-bottom: 3.5rem; } }
  .is-admin .section.main > .region.content > * {
    padding-left: 2rem;
    padding-right: 2rem; }
    @media screen and (min-width: 40em) {
      .is-admin .section.main > .region.content > * {
        padding-left: 3rem; } }
    @media screen and (min-width: 64em) {
      .is-admin .section.main > .region.content > * {
        padding-left: 3.5rem; } }
    @media screen and (min-width: 40em) {
      .is-admin .section.main > .region.content > * {
        padding-right: 3rem; } }
    @media screen and (min-width: 64em) {
      .is-admin .section.main > .region.content > * {
        padding-right: 3.5rem; } }

.breadcrumb {
  padding-bottom: 0.5rem; }
  .breadcrumb .block.breadcrumbs {
    padding: 0.75rem 0 1rem;
    line-height: 1rem; }
    .breadcrumb .block.breadcrumbs ol {
      margin: 0;
      padding: 0; }
    .breadcrumb .block.breadcrumbs li {
      display: inline;
      margin: 0;
      padding: 0;
      list-style-type: none;
      /* IE8 does not support :not() and :last-child. */ }
      .breadcrumb .block.breadcrumbs li:before {
        content: ' \BB '; }
      .breadcrumb .block.breadcrumbs li:first-child:before {
        content: none; }

.messages {
  margin: 1rem 0;
  padding: 1rem 2rem;
  background-repeat: no-repeat;
  background-size: 1.25rem;
  background-position: left center; }
  .messages.error, .messages.messages--error {
    background-image: url("../icons/error.svg"); }
  .messages.status, .messages.messages--status {
    background-image: url("../icons/check.svg"); }
  .messages.warning, .messages.messages--warning {
    background-image: url("../icons/warning.svg"); }
  .messages .message {
    line-height: 1.5; }

.block.page.title {
  background: #333;
  margin-bottom: 2rem;
  padding: 0.5rem 3rem; }
  .block.page.title h1 {
    color: #f6f6f6; }

/**
 * @file
 * Styles for link buttons and action links.
 */
.action-links {
  margin: 0;
  padding: 0;
  list-style: none; }
  .action-links li {
    display: inline-block;
    margin: 0 0.3em; }
    .action-links li:first-child {
      margin-left: 0; }
    .action-links li .button-action {
      display: inline-block;
      padding: 0.2em 0.5em 0.3em;
      text-decoration: none;
      line-height: 160%; }
      .action-links li .button-action:before {
        margin-left: -0.1rem;
        padding-right: 0.2rem;
        content: '+';
        font-weight: 900; }

ul.admin-list {
  margin: 0;
  padding: 0; }
  ul.admin-list li {
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    border-top: 1px solid #f6f6f6; }
    ul.admin-list li a {
      color: #d6001c;
      display: block;
      min-height: 0;
      padding: 1rem 1rem 1rem 2rem;
      background: url("/core/misc/icons/bebebe/chevron-disc-right.svg") no-repeat 1px 16px;
      text-decoration: none;
      transition: color 400ms; }
      ul.admin-list li a .label {
        display: inline-block;
        font-size: 0.9375rem;
        font-weight: bold;
        text-decoration: none;
        margin-bottom: 0.5rem; }
      ul.admin-list li a:hover .label, ul.admin-list li a:focus .label, ul.admin-list li a:active .label, ul.admin-list li a:visited .label {
        text-decoration: underline; }
      ul.admin-list li a:hover {
        color: #00116e; }
  ul.admin-list.compact li {
    border: 0; }
    ul.admin-list.compact li a {
      padding: 0.1rem 0;
      background-image: none; }

/**
 * Entity meta settings.
 */
.entity-meta .entity-meta__header {
  padding: 1rem 1.5rem; }
  .entity-meta .entity-meta__header .form-item {
    margin: 0.25rem 0; }
  .entity-meta .entity-meta__header .entity-meta__last-saved {
    font-style: italic; }

.entity-meta .entity-meta__title {
  margin: 0.25rem 0;
  font-size: 1.125rem;
  font-weight: bold; }

.entity-meta .ash-admin-details {
  margin: 0;
  border-top: 1px solid #f6f6f6; }
  .entity-meta .ash-admin-details > .ash-admin-details__wrapper {
    padding-top: 0; }
  .entity-meta .ash-admin-details > summary {
    padding: 1rem 1.25rem;
    text-shadow: 0 1px 0 #fff; }
  .entity-meta .ash-admin-details .summary {
    display: none; }

button.link {
  color: #d6001c;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  background: transparent;
  font-size: 100%; }

a {
  color: #d6001c;
  transition: color 400ms; }
  a:hover {
    color: #00116e; }

.panel {
  margin: 0 0 1.5rem;
  padding: 1rem;
  border: 1px solid #d0d0d0;
  background: #fbfbfb; }

.panel__title {
  margin: 0;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-size: 0.75rem; }

.layout-container {
  margin: 0 1.5rem; }

.layout-container:after {
  display: table;
  clear: both;
  content: ''; }

@media screen and (min-width: 38em) {
  .layout-container {
    margin: 0 2.5rem; }
  .layout-column {
    float: left;
    box-sizing: border-box; }
    .layout-column + .layout-column {
      padding-left: 1rem; }
  .layout-column--half {
    width: 50%; }
  .layout-column--quarter {
    width: 25%; }
  .layout-column--three-quarter {
    width: 75%; } }

/**
 * Panel.
 * Used to visually group items together.
 */
.panel {
  padding: 5px 5px 15px; }

.panel__description {
  margin: 0 0 0.1875rem;
  padding: 2px 0 3px; }

/**
 * System compact link: to toggle the display of description text.
 */
.compact-link {
  margin: 0 0 0.5rem 0; }

/**
 * Quick inline admin links.
 */
small .admin-link:before {
  content: ' ['; }

small .admin-link:after {
  content: ']'; }

/**
 * Modules page.
 */
.system-modules thead > tr {
  border: 0; }

.system-modules div.incompatible {
  font-weight: bold; }

.system-modules details {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #f6f6f6;
  line-height: 20px; }
  .system-modules details[open] {
    overflow: visible;
    height: auto;
    white-space: normal; }
    .system-modules details[open] summary .text {
      text-transform: none;
      -webkit-hyphens: auto;
          -ms-hyphens: auto;
              hyphens: auto; }

.system-modules td {
  vertical-align: top;
  padding-left: 0; }
  .system-modules td.checkbox {
    width: 4%;
    min-width: 25px; }
  .system-modules td.module {
    width: 25%; }
  .system-modules td details {
    height: 1.25rem;
    margin: 0;
    border: 0; }
    .system-modules td details summary {
      padding: 0;
      cursor: default;
      text-transform: none;
      font-weight: normal; }
    .system-modules td details a {
      color: #333;
      border: 0; }

.system-modules label,
.system-modules-uninstall label {
  color: #333;
  font-size: 1.15em; }

@media screen and (max-width: 40em) {
  .system-modules td.name {
    width: 20%; }
  .system-modules td.description {
    width: 40%; } }

.system-modules .requirements {
  max-width: 30.625rem;
  padding: 0.5rem 0; }

.system-modules .links {
  overflow: hidden;
  /* prevents collapse */ }

.system-modules .checkbox {
  margin: 0 0.5rem; }

.system-modules .checkbox .form-item {
  margin-bottom: 0; }

.admin-requirements,
.admin-required {
  color: #777;
  font-size: 0.9em; }

.admin-enabled {
  color: #86c13d; }

.admin-missing {
  color: #e54040; }

.module-link {
  display: block;
  float: left;
  margin-top: 0.25rem;
  padding: 0.25rem 1.5rem;
  white-space: nowrap; }

.module-link-help {
  background: url("../../images/core/icons/787878/questionmark-disc.svg") 0 50% no-repeat; }

.module-link-permissions {
  background: url("../../images/core/icons/787878/key.svg") 0 50% no-repeat; }

.module-link-configure {
  background: url("../../images/core/icons/787878/cog.svg") 0 50% no-repeat; }

/* Status report. */
.system-status-report__status-title {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 0.5rem 1rem 2.5rem;
  vertical-align: top;
  background-color: transparent;
  font-weight: normal; }

.system-status-report__status-icon:before {
  position: absolute;
  top: 12px;
  left: 12px;
  display: block;
  width: 16px;
  height: 16px;
  content: '';
  background-repeat: no-repeat; }

.system-status-report__status-icon--error:before {
  background-image: url("../../images/core/icons/e32700/error.svg"); }

.system-status-report__status-icon--warning:before {
  background-image: url("../../images/core/icons/e29700/warning.svg"); }

.system-status-report__entry__value {
  padding: 1rem 0.5rem; }

/**
 * Appearance page.
 */
.theme-info__header {
  margin-bottom: 0;
  font-weight: normal; }

.theme-default .theme-info__header {
  font-weight: bold; }

.theme-info__description {
  margin-top: 0; }

.system-themes-list {
  margin-bottom: 1.5rem; }

.system-themes-list-uninstalled {
  padding-top: 1.5rem;
  border-top: 1px solid #777; }

.system-themes-list__header {
  margin: 0; }

.theme-selector {
  padding-top: 1.5rem; }

.theme-selector .screenshot,
.theme-selector .no-screenshot {
  max-width: 100%;
  height: auto;
  padding: 0.2rem;
  text-align: center;
  vertical-align: bottom;
  border: 1px solid #777; }

.theme-default .screenshot {
  border: 1px solid #f6f6f6; }

.system-themes-list-uninstalled .screenshot,
.system-themes-list-uninstalled .no-screenshot {
  max-width: 11.875rem;
  height: auto; }

/**
 * Theme display without vertical toolbar.
 */
@media screen and (min-width: 45em) {
  body:not(.toolbar-vertical) .system-themes-list-installed .screenshot,
  body:not(.toolbar-vertical) .system-themes-list-installed .no-screenshot {
    float: left;
    width: 18.125rem;
    margin: 0 1.5rem 0 0; }
  body:not(.toolbar-vertical) .system-themes-list-installed .system-themes-list__header {
    margin-top: 0; }
  body:not(.toolbar-vertical) .system-themes-list-uninstalled .theme-selector {
    float: left;
    box-sizing: border-box;
    width: 31.25%;
    padding: 1.5rem 1.5rem 1.5rem 0; }
  body:not(.toolbar-vertical) .system-themes-list-uninstalled .theme-info {
    min-height: 10.9375rem; } }

/**
 * Theme display with vertical toolbar.
 */
@media screen and (min-width: 60em) {
  .toolbar-vertical .system-themes-list-installed .screenshot,
  .toolbar-vertical .system-themes-list-installed .no-screenshot {
    float: left;
    width: 18.125rem;
    margin: 0 1.5rem 0 0; }
  .toolbar-vertical .system-themes-list-installed .theme-info__header {
    margin-top: 0; }
  .toolbar-vertical .system-themes-list-uninstalled .theme-selector {
    float: left;
    box-sizing: border-box;
    width: 31.25%;
    padding: 1.5rem 1.5rem 1.5rem 0; }
  .toolbar-vertical .system-themes-list-uninstalled .theme-info {
    min-height: 10.9375rem; } }

.system-themes-list-installed .theme-info {
  max-width: 58.75rem; }

.theme-selector .incompatible {
  margin-top: 1rem;
  font-weight: bold; }

.theme-selector .operations {
  margin: 1rem 0 0 0;
  padding: 0; }

.theme-selector .operations li {
  float: left;
  margin: 0;
  padding: 0 0.75rem;
  list-style-type: none;
  border-right: 1px solid #777; }

.theme-selector .operations li:last-child {
  padding: 0 0 0 0.75rem;
  border-right: 0; }

.theme-selector .operations li:first-child {
  padding: 0 0.75rem 0 0; }

.system-themes-admin-form {
  clear: left; }

.cron-description__run-cron {
  display: block; }

.system-cron-settings__link {
  overflow-wrap: break-word;
  word-wrap: break-word; }

.system-themes-list > .theme-selector {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem; }
  .system-themes-list > .theme-selector > img {
    margin-right: 1rem;
    max-width: 17.1875rem; }
  .system-themes-list > .theme-selector > .theme-info .theme-info__header,
  .system-themes-list > .theme-selector > .theme-info .theme-info__description {
    margin-bottom: 0.5rem; }
  .system-themes-list > .theme-selector .incompatible {
    margin-top: 1rem;
    font-weight: bold; }
  .system-themes-list > .theme-selector .operations {
    margin: 0.75rem 0 0 0;
    padding: 0; }
    .system-themes-list > .theme-selector .operations li {
      float: left;
      margin: 0;
      padding: 0 0.5rem;
      list-style-type: none;
      border-right: 1px solid #f6f6f6; }
      .system-themes-list > .theme-selector .operations li:last-child {
        padding: 0 0 0 0.5rem;
        border-right: 0; }
      .system-themes-list > .theme-selector .operations li:first-child {
        padding: 0 0.5rem 0 0; }

.system-themes-list.system-themes-list-uninstalled {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 2px solid #f6f6f6; }
  .system-themes-list.system-themes-list-uninstalled > .system-themes-list__header {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    min-height: 0px;
    min-width: 0px;
    width: calc(100% - 1.25rem);
    margin-right: 0.625rem;
    margin-left: 0.625rem; }
  .system-themes-list.system-themes-list-uninstalled > .theme-selector {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    min-height: 0px;
    min-width: 0px;
    width: calc(100% - 1.25rem);
    margin-right: 0.625rem;
    margin-left: 0.625rem;
    -ms-flex-direction: column;
        flex-direction: column;
    margin-bottom: 2rem; }
    @media screen and (min-width: 40em) {
      .system-themes-list.system-themes-list-uninstalled > .theme-selector {
        width: calc(33.33333% - 1.875rem);
        margin-right: 0.9375rem;
        margin-left: 0.9375rem; } }
    .system-themes-list.system-themes-list-uninstalled > .theme-selector > img {
      max-width: 10.9375rem; }

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem; }
  table thead,
  table tbody,
  table tfoot {
    border: #d6001c;
    background-color: #fff; }
  table caption {
    padding: 1rem;
    font-weight: bold; }
  table thead {
    background: #dddddd;
    color: #1a1a1a; }
  table tfoot {
    background: #dddddd;
    color: #1a1a1a; }
  table thead tr,
  table tfoot tr {
    background: transparent; }
  table thead th,
  table thead td,
  table tfoot th,
  table tfoot td {
    padding: 1rem;
    font-weight: bold;
    text-align: left; }
  table tbody th,
  table tbody td {
    padding: 1rem; }
  table tbody tr:nth-child(even) {
    border-bottom: 0;
    background-color: #f6f6f6; }
  table.unstriped tbody {
    background-color: #fff; }
    table.unstriped tbody tr {
      border-bottom: 0;
      border-bottom: #d6001c;
      background-color: #fff; }
  @media screen and (min-width: 40em) {
    table {
      margin-top: 1.5rem; } }
  @media screen and (min-width: 64em) {
    table {
      margin-top: 1.75rem; } }
  @media screen and (min-width: 40em) {
    table {
      margin-bottom: 1.5rem; } }
  @media screen and (min-width: 64em) {
    table {
      margin-bottom: 1.75rem; } }
  @media screen and (max-width: 63.9375em) {
    table thead th {
      display: block; }
    table tfoot {
      display: none; }
    table tr,
    table th,
    table td {
      display: block; }
    table td {
      border-top: 0; } }
  table tr.region-title td {
    padding: 0.5rem 1rem; }
  table tr.drag {
    background-color: rgba(241, 186, 46, 0.5) !important;
    /* stylelint-disable-line declaration-no-important */ }
  table tr.drag-previous {
    background-color: rgba(134, 193, 61, 0.5); }

a.tabledrag-handle .handle {
  font-size: 2rem;
  margin-top: -0.25rem; }

/**
 * @file
 * Styles for the system status counter component.
 */
.system-status-counter {
  display: inline-block;
  overflow-y: hidden;
  box-sizing: border-box;
  width: 100%;
  white-space: nowrap;
  border: 1px solid #dddddd;
  border-radius: 3px;
  background: #f6f6f6; }

.system-status-counter__status-icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  vertical-align: middle;
  border-right: 1px solid #dddddd;
  border-left: 0;
  background-color: #f1f1f1;
  box-shadow: 0 1px 1px rgba(26, 26, 26, 0.1) inset; }

.system-status-counter__status-icon:before {
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background-repeat: no-repeat;
  background-position: 50% center;
  background-size: 25px; }

.system-status-counter__status-icon--error:before {
  background-image: url("../../../../../core/themes/stable/images/core/icons/e32700/error.svg"); }

.system-status-counter__status-icon--warning:before {
  background-image: url("../../../../../core/themes/stable/images/core/icons/e29700/warning.svg"); }

.system-status-counter__status-icon--checked:before {
  background-image: url("../../../../../core/themes/stable/images/core/icons/73b355/check.svg"); }

.system-status-counter__status-title {
  display: inline-block;
  padding: 0 6px;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1em; }

.system-status-counter__title-count {
  display: block;
  margin-bottom: 2px; }

.system-status-counter__details {
  display: block;
  text-transform: none;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5; }

.system-status-report-counters {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .system-status-report-counters .system-status-report-counters__item {
    width: 100%;
    margin: 0.5rem 0 1rem;
    padding: 0;
    text-align: left; }
    .system-status-report-counters .system-status-report-counters__item.system-status-report-counters__item--half-width {
      width: 49%; }
    .system-status-report-counters .system-status-report-counters__item.system-status-report-counters__item--third-width {
      width: 32%; }

.system-status-general-info {
  border: 1px solid #dddddd;
  border-radius: 3px; }

.system-status-general-info__header {
  overflow: hidden;
  margin: 0;
  padding: 10px;
  text-transform: uppercase;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #f6f6f6;
  font-size: 14px; }

.system-status-general-info__item {
  overflow-x: auto;
  box-sizing: border-box;
  padding: 10px 10px 20px;
  border-top: 1px solid #dddddd;
  background: #f6f6f6; }

.system-status-general-info__item-icon {
  display: inline-block;
  width: 45px;
  height: 45px;
  vertical-align: top; }

.system-status-general-info__item-icon:before {
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background-repeat: no-repeat;
  background-position: 50% center;
  background-size: 35px; }

.system-status-general-info__item-icon--d8:before {
  background-image: url("../../../../../core/themes/seven/images/icons/cccccc/d8-logo.svg"); }

.system-status-general-info__item-icon--clock:before {
  background-image: url("../../../../../core/themes/seven/images/icons/cccccc/clock.svg"); }

.system-status-general-info__item-icon--server:before {
  background-image: url("../../../../../core/themes/seven/images/icons/cccccc/server.svg"); }

.system-status-general-info__item-icon--php:before {
  background-image: url("../../../../../core/themes/seven/images/icons/cccccc/php-logo.svg");
  background-size: 45px; }

.system-status-general-info__item-icon--database:before {
  background-image: url("../../../../../core/themes/seven/images/icons/cccccc/database.svg");
  background-size: 30px; }

.system-status-general-info__item-details {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: calc(100% - 60px);
  padding-left: 10px;
  line-height: 1.3; }

.system-status-general-info__item-title {
  margin: 0.5rem 0;
  border-bottom: 0; }

.system-status-general-info__sub-item-title {
  margin: 0; }

.system-status-general-info__sub-item__title {
  font-weight: bold; }

.system-status-general-info__sub-item__value {
  display: block; }

.system-status-general-info__run-cron {
  margin: 1em 0 0; }

@media screen and (min-width: 48em) {
  .system-status-general-info__items {
    display: -ms-flexbox;
    display: flex;
    overflow-x: hidden;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .system-status-general-info__item {
    -ms-flex: 1;
        flex: 1;
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    width: 33%; }
  .system-status-general-info__item:nth-child(2) {
    -ms-flex: 2;
        flex: 2;
    -ms-flex-preferred-size: 66%;
        flex-basis: 66%; }
  .system-status-general-info__item:nth-child(2),
  .system-status-general-info__item:nth-child(4),
  .system-status-general-info__item:nth-child(5) {
    border-left: 1px solid #dddddd; }
  .system-status-general-info__run-cron {
    margin: 15px 0 5px; } }

.system-status-report__requirements-group {
  padding-top: 1.5rem; }

.system-status-report__entry {
  overflow: auto;
  width: 100%;
  margin: 0;
  border: 0;
  border-top: 1px solid #f6f6f6;
  border-radius: 0;
  background-color: transparent; }
  .system-status-report__entry.color-error {
    background: rgba(229, 64, 64, 0.05); }
  .system-status-report__entry.color-warning {
    background: rgba(241, 186, 46, 0.09); }
  .system-status-report__entry.color-checked {
    background: rgba(134, 193, 61, 0.09); }

.system-status-report__entry:last-of-type {
  border-bottom: 1px solid #f6f6f6; }

.system-status-report__entry--error {
  background-color: transparent; }

.system-status-report__entry--warning {
  background-color: transparent; }

.system-status-report__status-title {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 1rem 1rem 3rem;
  font-weight: bold; }
  .color-error .system-status-report__status-title {
    color: #e54040 !important;
    /* stylelint-disable-line declaration-no-important */ }
  .color-warning .system-status-report__status-title {
    color: #c5910d !important;
    /* stylelint-disable-line declaration-no-important */ }

.system-status-report__status-title .details-title {
  text-transform: none;
  color: inherit;
  padding-left: 3rem; }

.collapse-processed > .system-status-report__status-title:before {
  float: right; }

.system-status-report__status-title::-webkit-details-marker {
  float: right; }

.system-status-report summary:first-child ~ * {
  display: none; }

.system-status-report details[open] > *,
.system-status-report details > summary:first-child {
  display: block;
  color: inherit; }

.system-status-report__status-title .details-title:before,
.details .system-status-report__status-icon:before {
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  content: '';
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain; }

.system-status-report__status-icon--error .details-title:before,
.details .system-status-report__status-icon--error:before {
  background-image: url("../../../../../core/themes/stable/images/core/icons/e32700/error.svg"); }

.system-status-report__status-icon--warning .details-title:before,
.details .system-status-report__status-icon--warning:before {
  background-image: url("../../../../../core/themes/stable/images/core/icons/e29700/warning.svg"); }

.system-status-report__entry__value {
  box-sizing: border-box;
  padding: 0 1rem 1rem 3rem; }
  .system-status-report__entry__value dt {
    margin-bottom: 0.5rem; }
  .system-status-report__entry__value dd {
    margin-bottom: 1rem; }
  .system-status-report__entry__value .description {
    margin-top: 0.5rem;
    line-height: 1.25; }
    .system-status-report__entry__value .description ul {
      list-style-type: disc;
      margin-left: 1.5rem; }
      .system-status-report__entry__value .description ul li {
        list-style-type: disc;
        list-style-image: initial;
        margin: 0 0 0.5rem 1rem; }

@media screen and (max-width: 48em) {
  .system-status-report {
    word-wrap: break-word; } }

@media screen and (min-width: 48em) {
  .system-status-report__entry:after {
    display: table;
    clear: both;
    content: ''; }
  .system-status-report__status-title {
    float: left;
    width: 18rem;
    cursor: default; }
  .system-status-report__status-title:hover,
  .system-status-report__status-title:focus {
    text-decoration: none; }
  html.js .system-status-report__status-title::-webkit-details-marker {
    display: none; }
  .collapse-processed > .system-status-report__status-title:before {
    position: relative;
    top: 3px; }
  .system-status-report__entry__value {
    display: block;
    float: right;
    width: calc(100% - 23em);
    padding-top: 1em;
    padding-left: 0; } }

/*# sourceMappingURL=aeon-admin.css.map */
