.block.local.tasks {

  .tabs {
    @include flex;
    @include flex-align(center);

    a {
      @include component-button();
      margin: 0 1px 1px 0;

      &.is-active {
        background: color(theme-secondary);
        color: color(theme-white);
      }
    }
  }
}
