
ul {

  &.admin-list {
    margin: 0;
    padding: 0;

    li {
      position: relative;
      margin: 0;
      padding: 0;
      list-style-type: none;
      list-style-image: none;
      border-top: 1px solid color(theme-offset);

      a {
        // color: theme-val($theme, description-color, true);
        display: block;
        min-height: 0;
        padding: $global-padding $global-padding $global-padding ($global-padding * 2);
        background: url('/core/misc/icons/bebebe/chevron-disc-right.svg') no-repeat 1px 16px;
        text-decoration: none;

        .label {
          display: inline-block;
          font-size: rem-calc(15);
          font-weight: bold;
          text-decoration: none;
          margin-bottom: $global-margin / 2;
        }

        &:hover,
        &:focus,
        &:active,
        &:visited {

          .label {
            text-decoration: underline;
          }
        }
      }
    }

    &.compact {

      li {
        border: 0;

        a {
          padding: ($global-padding / 10) 0;
          background-image: none;
        }
      }
    }
  }
}
