.block.local.tasks {

  .tabs {
    @include button-group(a);

    a {
      @include button();
      margin: 0 1px 1px 0;

      &.active {
        @include button-style(map-get($foundation-palette, secondary), auto, auto);
      }
    }
  }
}
