.messages {
  padding: $global-padding;
  color: foreground(map-get($foundation-palette, success));
  background: map-get($foundation-palette, success);
  text-shadow: 0 1px 1px smart-scale(map-get($foundation-palette, success), 20%);

  a {
    color: $white;
    font-weight: bold;
  }

  &.warning {
    color: foreground(map-get($foundation-palette, warning));
    background: map-get($foundation-palette, warning);
    text-shadow: 0 1px 1px smart-scale(map-get($foundation-palette, warning), 20%);
  }

  &.error {
    color: foreground(map-get($foundation-palette, alert));
    background: map-get($foundation-palette, alert);
    text-shadow: 0 1px 1px smart-scale(map-get($foundation-palette, alert), 20%);
  }

  &.info {
    color: foreground(map-get($foundation-palette, primary));
    background: map-get($foundation-palette, primary);
    text-shadow: 0 1px 1px smart-scale(map-get($foundation-palette, primary), 20%);
  }

  &.small {
    padding: $global-padding / 2;
    font-size: rem-calc(14);
  }
}
