////////////////////////////////////////////////////////////////////////////////
// VARIABLES
// -----------------------------------------------------------------------------

$global-width: rem-calc(1100);
$grid-row-width: $global-width;
$grid-container: $global-width;
$grid-container-wide: rem-calc(1150);

/* stylelint-disable color-no-hex */
$theme-colors: (
  theme-poop: brown,
);
$colors: map-merge($global-colors, map-merge($colors, $theme-colors));

// Base
// ----------
$body-font-family: Ubuntu, sans-serif;
$header-font-family: Ubuntu, sans-serif;
$body-background: color(theme-black);
$body-font-color: color(theme-white);
$anchor-color: color(theme-primary);
$anchor-color-hover: scale-color($anchor-color, $lightness: -14%);

$header-sizes: (
  small: (
    'h1': 24,
    'h2': 20,
    'h3': 19,
    'h4': 18,
    'h5': 17,
    'h6': 16,
  ),
  medium: (
    'h1': 26,
    'h2': 24,
    'h3': 22,
    'h4': 20,
    'h5': 18,
    'h6': 16,
  ),
);

// Button
// ----------
$button-background: color(theme-primary);
$button-background-hover: scale-color($button-background, $lightness: -15%);
$global-radius: 5px;

// Menu
// ----------
$menu-item-background-active: color(theme-primary);

// Breadcrumb
// ----------
$breadcrumbs-item-color: color(theme-primary);

// Animations and Transitions
// -- -- -- --
$global-speed: 400ms;

// Tables
// --------
$table-stripe: even;
$table-is-striped: true;
$table-border: color(theme-primary);
$table-background: color(theme-white);
$table-padding: $global-padding;
$table-head-background: alpha(theme-black, 0.7);
$table-head-font-color: color(theme-white);
$table-foot-background: $table-head-background;
$table-foot-font-color: $table-head-font-color;
$table-striped-background: alpha(theme-black, 0.15);
$show-header-for-stacked: false;
