
button {

  &.link {
    color: color(theme-primary);
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: 0;
    background: transparent;
    font-size: $global-font-size;
  }
}

a {
  color: color(theme-primary);
  transition: color $global-speed;

  &:hover {
    color: color(theme-secondary);
  }
}
